path.variable {
	stroke-width: 1;
	fill: transparent;
  stroke: #1f77b4;
}

/*=============== Charts ==============*/

ul#charts {
	list-style-type: none;
	margin: 0;
	padding:; 0;
}


svg.chart {
	border: 1px solid black;
}

body {
  font: 10px sans-serif;
}

.axisGroup {
    stroke: black;
}
